@tailwind base;
@tailwind components;
@tailwind utilities;

.home-page .address {
  display: block !important;
}

.full-width {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  right: 50%;
  width: 100vw;
}

.placement ul li {
    display: inline !important;
    padding: 18px;
}

.input:focus {
    outline: 2px solid hsla(var(--bc) / 0.2);
    outline-offset: 2px;
}
